<div class="container" id="ring" style="background-image:none;">
  <h1 style="color: red;">Navigator</h1>
  <br /><br />
  <div class="row">
    <div class="col">
      <div class="grid3-item">
        <ul style="list-style: none;">
          <li><a href="/">Home</a></li>
          <li><a href="/on-the-menu">Menu</a></li>
          <li><a href="/">pricing</a></li>
          <li><a href="#Top-meals">Food Journey</a></li>
          <li><a href="">Our Story</a></li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="grid3-item">
        <ul style="list-style: none;">
          <li><a href="#">Blog</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Our Ingredients</a></li>
          <li><a href="#">Our Commitments</a></li>
          <li><a href="#">Gift Cards</a></li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="grid3-item">
        <ul style="list-style: none;">
          <li><a href="#Top-meals">Top Deals</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Conditions</a></li>
          <li><a href="#">Investors</a></li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="grid3-item">
    <ul style="list-style: none;">
      <b>
        <li>Get in Touch</li>
        <li>+1(999)999-999</li>
        <li>TS@makeCuisines.ca</li>
        <li>
          Follow Us
          <br /><img src="/12.jpg" alt="Follow" style="border-radius: 20px" />
        </li>
      </b>
    </ul>
    </div>
  </div>
</div>
<pre style="text-align: center; color: white; font-size: 20px">
  <b>Copyright ©
  Fall 2021, Taranjeet Singh, WEB322 ZAA</b></pre>
<br /><br /><br />