<hero>
  <div class="view" id="Cuisines">
    <br /><br /><br />
    <video style="max-width: 100%; height:auto;border-radius: 40px;" muted autoplay loop>
      <source src="/Indian_Dishes.mp4" />
    </video>
    <pre style="color: yellow;"><b>Welcome!!! <br /> Try Our Best Cuisines...</b></pre>
    <br /><br />
  </div>
</hero>

<div class="container">
  <br><br><br>
   <h1 style="font-size: xx-large;color:yellowgreen">What we Offers?</h1>
        Eat More &#38; Enjoy More
  <div class="row row-cols-2">
    <div class="col">
      <img src="/1.jpg" alt="Burger Deal" style="max-width: 100%; height:auto;border-radius: 30px;" class="biggi"/>
      <br />
      <b>We Give Best Deals<br />Ever</b>
      <pre style="color: white;"><b>
    We are proud to have
    best deals with least
    prices compare to our
    compitetiors.
        </b>
      </pre>
    </div>
    <div class="col">
      <img src="/2.jpg" alt="Web feature" style="max-width: 100%; height:auto;border-radius: 30px;" class="biggi"/>
      <br />
      <b>Easy User Interface<br />&#38;<br />Services</b>
      <pre style="color: white;">
        <b>
    We have best
    online service
    and user experience
        </b>
      </pre>

    </div>
    <div class="col">  
      <img src="/4.jpg" alt="Fast Delivery" style="max-width: 100%; height:auto;border-radius: 30px;" class="biggi"/>
        <br />
        <b>Instant Delivery with<br />TS orders</b>
        <pre style="color: white;">
        <b>
  We have fast delivery and
  real time tracking system 
  Get extra 10% on Online 
  orders</b>
      </pre></div>
    <div class="col">
              <img src="/5.jpg" alt="Best Dishes" style="max-width: 100%; height:auto;border-radius: 30px;"class="biggi" />
        <br />
        <b>Eat incredible meal<br />every day.</b>
        <pre style="color: white;">
  <b>
  Our recipies are created
  to cater to all cooking
  levels and styles. From
  1-minute Breakfast to 
  two-course dinner. We 
  have everything available.
  </b>
      </pre>
    </div>
  </div>
</div>
<br>



