<div class="container" style="text-align: center;">
<h1>Account Successfully Created</h1><br><br>
<h2 style="color: greenyellow;">Congratulation!!!</h2><br>
<video src="/Congrat.mp4" style="width: 500px;border-radius: 40px;" muted autoplay loop></video>
<br>
<h3><a href="/" style="text-decoration: none;">Explore More</a></h3><br><br>
</div>
