<div class="container">
  <h1>Welcome To TS-Flavours</h1>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/22.jpg" class="d-block w-100" alt="Open 24 Hours">
    </div>

     <div class="carousel-item">
      <img src="/21.png" class="d-block w-100" alt="">
       <div class="carousel-caption d-none d-md-block">
        <h5>Happy Halloween</h5>
      </div>
    </div>

    <div class="carousel-item">
      <img src="/17.jpg" class="d-block w-100" alt="...">
       <div class="carousel-caption d-none d-md-block">
        <h5>From the Farms to Your Table</h5>
      </div>
    </div>
   
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>

<div class="container">
    <p>We provide world class Services to our coustmers. Our best cusines are waiting for you, <a href="/" style="text-decoration: none;">ORDER NOW</a></p>
</div>

<br><br><br>